@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('./fonts/Manrope-SemiBold.ttf') format('truetype');
}
.message {
  color: red;
  font-family: 'Manrope-SemiBold';
  font-size: 10px;
}
.image {
  width: 100px;
  height: 100px;
  background: url('../src/images/image.png') 100% 100%;
  transform: rotate(360deg);
}
