@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('./fonts/Manrope-SemiBold.ttf') format('truetype');
}
.message {
  color: red;
  font-family: 'Manrope-SemiBold';
  font-size: 10px;
}
.image {
  background-image: url('../src/images/image.png');
  transform: rotate(360deg);
}
